* {
    border: none;
    border-radius: 20;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 12px;

    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: #121212;
}
tooltip label {
    color: #00bfff;
}

#workspaces {
    background: #121212;
    border: 1px solid #00bfff;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #00bfff;
}

#audio,
#battery,
#backlight,
#network,
#bluetooth,
#clock {
    background-color: #121212;
    color: #00bfff;
    padding: 0 5px;
    margin: 0 5px;
}

#cava,
#pulseaudioi {
	background-color: #121212;
	color: #00bfff;
	padding: 0 5px;
	margin: 0 5px;
}

#custom-launcher {
    background-color: #121212;
    color: #00bfff;
    padding: 0 5px;
    margin: 0 5px;
    border: 1px solid #00bfff;

    font-size: 20px;
}



